{% if docker_dev_git_user_email and docker_dev_git_user_name %}
[user]
	email = {{ docker_dev_git_user_email }}
	name = {{ docker_dev_git_user_name }}
{% endif %}
[alias]
        st = status
        co = checkout
        klog = log --pretty=format:\"%h %s\" --graph
        klogv = log --pretty=format:\"%C(yellow)%h\\\\ %C(green)%ad%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=short --graph
        logr = log --pretty=format:\"%C(green)%h\\\\ %C(yellow)[%ad]%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=relative

