{% if docker_dev_git_user_email and docker_dev_git_user_name %}
[user]
	email = {{ docker_dev_git_user_email }}
	name = {{ docker_dev_git_user_name }}
{% endif %}
[alias]
        st = status
        co = checkout

